<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="run">
      <ion-icon name="play"></ion-icon>
      <ion-label>Run</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="select">
		<ion-icon name="options"></ion-icon>
		<ion-label>Bands</ion-label>
	  </ion-tab-button>
  
	<ion-tab-button tab="config">
		<ion-icon name="settings"></ion-icon>
		<ion-label>Settings</ion-label>
	</ion-tab-button>
  
	<ion-tab-button tab="help">
		<ion-icon name="help"></ion-icon>
		<ion-label>Help</ion-label>
	</ion-tab-button>

	<ion-tab-button tab="about">
	<ion-icon name="at"></ion-icon>
	<ion-label>About</ion-label>
	</ion-tab-button>

 </ion-tab-bar>

</ion-tabs>
