.range-container {
	height: 100%;
	position: fixed;
}

.range-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.range-radio-button {
  margin: 5px;
}

.canvas-wrapper {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}
